# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
*.mat
*.png
*.ckpt
train_files/det_lesion_ck/networks/checkpoint
train_files/det_lesion_ck/networks/det_lesion.ckpt.data-00000-of-00001
train_files/det_lesion_ck/networks/det_lesion.ckpt.index
train_files/det_lesion_ck/networks/det_lesion.ckpt.meta
train_files/seg_lesion_ck/networks/checkpoint
train_files/seg_lesion_ck/networks/seg_lesion.ckpt.data-00000-of-00001
train_files/seg_lesion_ck/networks/seg_lesion.ckpt.index
train_files/seg_lesion_ck/networks/seg_lesion.ckpt.meta
train_files/seg_liver_ck/networks/checkpoint
train_files/seg_liver_ck/networks/seg_liver.ckpt.data-00000-of-00001
train_files/seg_liver_ck/networks/seg_liver.ckpt.index
train_files/seg_liver_ck/networks/seg_liver.ckpt.meta

# macOS files
.DS_Store
*.DS_Store
utils/.DS_Store

# dataset
*.nii
.vscode/settings.json

# Rishyak stuff
MyEnv/*
LiverLesionWorkspace.code-workspace

# Matlab nifti_library. Can be found at: https://www.mathworks.com/matlabcentral/fileexchange/8797-tools-for-nifti-and-analyze-image
nifti_library/*
*.local
utils/crops_list/crops_LiTS_gt_2.txt
utils/crops_list/crops_list_OV.txt
crops_LiTS_gt.txt
seg_DatasetList/testing_volume_OV_OG.txt
seg_DatasetList/training_volume_OV_OG.txt
seg_DatasetList/testing_volume_OV_OG_test.txt
seg_DatasetList/training_volume_OV_OG_test.txt
detection_results/det_lesion_ck/hard_results.txt
detection_results/det_lesion_ck/soft_results.txt
det_DatasetList/testing_positive_det_patches_test_patches_dummy.txt
det_DatasetList/testing_negative_det_patches_test_patches_dummy.txt
predict_database/liver_results/105.rar
predict_database/seg_liver_ck/105.rar
utils/crops_list/crops_LiTS_gt.txt
LiTS_database/liver_seg.zip
det_DatasetList/testing_negative_det_patches_test_patches_OV.txt
det_DatasetList/testing_positive_det_patches_test_patches_OV.txt
det_DatasetList/training_negative_det_patches_test_patches_OV.txt
det_DatasetList/training_positive_det_patches_test_patches_OV.txt
detection_results/det_lesion_ck/hard_results.txt
detection_results/det_lesion_ck/soft_results.txt
detection_results/det_lesion_ck/hard_results.txt
detection_results/det_lesion_ck/soft_results.txt
LiTS_database/item_seg.rar
detection_results/det_lesion_ck/soft_results.txt
detection_results/det_lesion_ck/hard_results.txt
det_DatasetList/test_patches.txt
LiTS_database/item_seg.zip
LiTS_database/images_volumes.zip
LiTS_database/images_volumes.zip
LiTS_database/item_seg.zip
